{% extends 'base.html.twig' %}

{% block header %}
    <header class="home-header mb-5">
        <a class="nes-btn d-flex justify-content-center align-items-center ml-3 ml-md-5" href="{{ path('app_index') }}">hype.</a>
        <a class="nes-btn is-primary mr-3 mr-md-5" href="{{ path('profile_index') }}"><i class="nes-logo"></i></a>
    </header>
{% endblock %}

{% block title %}All aboard the hype train !{% endblock %}

{% block body %}
    <div class="container">
        <h1>profile.</h1>
        <div class="nes-container with-title my-5">
            <h2 class="title">Tu veux faire quoi ?</h2>
            <div class="lists">
                <ul class="nes-list is-circle">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="mb-3"><a href="{{ path('profile_users') }}">Gérer les utilisateurs</a></li>
                    {% endif %}
                    <li class="mb-3"><a href="{{ path('userGame_index') }}">Tous mes jeux</a></li>
                    <li class="mb-3"><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
