{% extends 'base.html.twig' %}

{% block header %}
    <header class="home-header">
        <a class="nes-btn d-flex justify-content-center align-items-center ml-5" href="{{ path('app_index') }}">hype.</a>
        <a class="nes-btn is-primary mr-5" href="{{ path('profile_index') }}"><i class="nes-logo"></i></a>
    </header>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="infos nes-container with-title mt-5">
            <p class="title">Faut se connecter monsieur</p>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        T'es déjà connecté frr, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% else %}
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="nes-btn mt-2" type="submit">
                        Let's go
                    </button>
                {% endif %}
            </form>
        </div>
        <div class="infos nes-container mt-5">
            <a href="{{ path('user_registration') }}">Tu veux un compte ?</a>
        </div>
    </div>
{% endblock %}
