{% extends 'base.html.twig' %}

{% block title %}Jeu index{% endblock %}

{% block body %}
    <h1>Jeu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Prix</th>
                <th>Video</th>
                <th>Lien</th>
                <th>What</th>
                <th>Why</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeu in jeux %}
            <tr>
                <td>{{ jeu.id }}</td>
                <td>{{ jeu.nom }}</td>
                <td>{{ jeu.genre }}</td>
                <td>{{ jeu.prix }}</td>
                <td>{{ jeu.video }}</td>
                <td>{{ jeu.lien }}</td>
                <td>{{ jeu.what }}</td>
                <td>{{ jeu.why }}</td>
                <td>
                    <a href="{{ path('jeu_show', {'id': jeu.id}) }}">show</a>
                    <a href="{{ path('jeu_edit', {'id': jeu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jeu_new') }}">Create new</a>
{% endblock %}
